* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background: linear-gradient(rgb(47, 150, 160), rgb(48, 62, 143)); */
  background-image: url('./weather_bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #eee;
}

.location,
.temperature {
  width: 50%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.temperature {
}

.degree {
  font-size: 40px;
}
